:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#FFC107;
    --secondary:#0097a7;
    --gris:#757575;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
} 
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--blanco);  
}
h1 span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secondary);

}

.navegacion-principal{
    
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);

}

@media (max-width:	768px) {
    .navegacion-principal{
        flex-direction: column;
    }
}