:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#FFC107;
    --secondary:#0097a7;
    --gris:#757575;
    --grisclaro:#DFE9F3;

}
/* GLOBALES */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory; /* efecto scroll */
}


*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    /* gradiente de abajo hacia arriba */
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100% );
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
     box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
     background-color: var(--blanco);
     padding: 2rem;
     border-radius: 1rem;
}

/* ocupara el ancho de 100%, hasta que llegue a 1200px */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: var(--secondary);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}

/* tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;

}
/* titulos */
.titulo span{
    font-size: 2rem;
}
/* utilidades */
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}

/* navegacion */
.nav-bg {
    background-color: var(--secondary);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
/* si es mayor que 768, aplicar tamaño normal */
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}

/* para possicionar el hijo. se debe posicionar el padre */
/* padre=relativo */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    /* utilizar siempre el 100% de ancho de la pantalla */
    background-size: cover;
    height: 45rem;
    /* padding: 2rem; */
    position: relative;
    margin-bottom: 2rem;

}

/* hijo=absolute */
.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    /* alinear vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion{
    display: flex;
    align-items: flex-end;
}

/* servicios 
grid maneja 2 dimensiones */
 @media (min-width: 768px){ /* aplicar cuando sea mayor que 768px de ancho(pantalla estandar) */
    .servicios{
        display: grid;
         /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

    } 
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.servicio h3{
    color: var(--secondary);
    font-weight: 700;
}
.servicio p{
    line-height: 2;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* utiliza el valor mas pequeño dependiendo el ancho */
     margin: 0 auto; /* centrar horizontalmente */
    padding: 2rem;
    border-radius: 1rem;
    }
.formulario fieldset{
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media(min-width:768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    /* selecionar el 3 campo con clase .campo(ya que todos se llaman igual) */
    .campos:nth-child(3),
    .campos:nth-child(4)
    {
        grid-column: 1/3;
    }
}
.campos{
    margin-bottom: 1rem;
}
.campos label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campos textarea{
    height: 20rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

/* footer */
.footer{
    text-align: center;
}


